@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,600;1,200&display=swap");

/* desktop view */
.mmyheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0rem;
}
.mmymain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}
/* nav ul li {
  display: inline;
  padding: 10px;
}
nav ul {
  padding-left: 0px;
  text-align: right;
} */
.seriesimages {
  display: block;
  max-width: 100%;
  margin: 5%;
}
.p {
  text-align: left;
  font-size: 1.2rem;
  font-family: "Koh Santepheap", cursive;
  color: var(--p-color);
}

/* mobile view */
@media only screen and (max-width: 600px) {
  .mmymain {
    display: grid;
    grid-template-columns: 1fr;
  }

  .seriesimages {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0%;
  }
}
:root {
  --bg-color: #ffeedb;
  --p-color: #707070;
  --button-color: black;
}

html {
  background-color: var(--bg-color);
}

/*Homepage*/

/*Burger menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*main*/
p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Koh Santepheap", cursive;
  color: var(--p-color);
}
.h1_landing_page {
  margin-top: 0%;
  font-family: "Monoton", cursive;
  letter-spacing: +2px;
  font-size: 4rem;
  font-weight: lighter;
}
.container_landing {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.potato_container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  height: fit-content;
}
.couch_img {
  max-width: 40%;
  top: 10%;
  animation: couch 2s forwards;
  -webkit-animation: couch 2s forwards;
}
.potato_img {
  position: absolute;
  max-width: 10%;
  top: 10%;
  animation: potato 2.5s forwards;
  -webkit-animation: potato 2.5s forwards;
}
.popcorn_img {
  position: absolute;
  max-width: 4%;
  top: 23%;
  left: 43%;
  animation: popcorn 3s forwards;
  -webkit-animation: popcorn 3s forwards;
}

@keyframes couch {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes potato {
  0% {
    transform: translate(55vw, -55vw);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes popcorn {
  0% {
    transform: translate(-55vw, -55vw);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.buttons {
  display: flex;
  flex-direction: row;
}
button {
  font-family: "Koh Santepheap", cursive;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 23px;
  background: var(--button-color);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 0 0;
}
.z-button {
  min-width: 240px;
}
.m-button {
  min-width: 240px;
}

.logo {
  padding-left: 20px;
}

.serieslist {
  display: grid;
}

.photo {
  float: left;
  padding-left: 70px;
}

.text {
  float: right;
  padding-right: 80px;
  text-align: left;
}

p {
  color: black;
}
/* listlayout
*/
.listLayout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 600px));
  grid-template-rows: repeat(auto-fill, minmax(600px, 1000px));
  gap: 2em;
}
article img {
  max-width: 100%;
  max-height: 100%;
}
