@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,400;0,600;1,200&display=swap");

:root {
  --bg-color: #ffeedb;
}

html{
  background-color: var(--bg-color)
}

.h1_landing_page{
  font-family: "Monoton", cursive;
  letter-spacing: +2px;
  font-size: 4rem;
}